.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: #fff;

    ul {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}
